# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log
package-lock.json
**/*.bun
.env
/AcademyManager/AcademyManager/obj/Debug/net7.0/AcademyManager.pdb
/AcademyManager/AcademyManager/obj/Debug/net7.0/AcademyManager.genruntimeconfig.cache
/AcademyManager/AcademyManager/obj/Debug/net7.0/AcademyManager.dll
/AcademyManager/AcademyManager/obj/Debug/net7.0/AcademyManager.csproj.FileListAbsolute.txt
/AcademyManager/AcademyManager/bin/Debug/net7.0/AcademyManager.pdb
/AcademyManager/AcademyManager/bin/Debug/net7.0/AcademyManager.dll
/AcademyManager/.vs/AcademyManager/v17/.suo
/AcademyManager/.vs/AcademyManager/DesignTimeBuild/.dtbcache.v2
/AcademyManager/AcademyManager/obj/Debug/net7.0/AcademyManager.csproj.CoreCompileInputs.cache
/AcademyManager/AcademyManager/obj/Debug/net7.0/ref/AcademyManager.dll
/AcademyManager/AcademyManager/obj/Debug/net7.0/refint/AcademyManager.dll
/AcademyManager/.vs/AcademyManager/FileContentIndex/e4e18f15-85df-4f9a-916c-8ff0aa008d9b.vsidx
/AcademyManager/.vs/AcademyManager/FileContentIndex/d057ec8b-d873-4ea1-931a-fdeb4728133c.vsidx
/AcademyManager/.vs/AcademyManager/FileContentIndex/ce6b02c5-64f5-48c9-b882-f01bd97456c3.vsidx
/AcademyManager/.vs/AcademyManager/FileContentIndex/7c602c37-cebb-4f76-bc6f-b221f53e0b25.vsidx
/AcademyManager/.vs/AcademyManager/v17/.futdcache.v2
/AcademyManager/.vs/ProjectEvaluation/academymanager.metadata.v5.2
/AcademyManager/.vs/ProjectEvaluation/academymanager.projects.v5.2
/AcademyManager/AcademyManager/bin/Debug/net7.0/appsettings.Development.json
/AcademyManager/AcademyManager/obj/Debug/net7.0/refint/AcademyManager.dll
/AcademyManager/AcademyManager/obj/Debug/net7.0/ref/AcademyManager.dll
/AcademyManager/AcademyManager/obj/Debug/net7.0/AcademyManager.csproj.CoreCompileInputs.cache
/AcademyManager/AcademyManager/out
/AcademyManager/out
/AcademyManager/AcademyManager/obj
/AcademyManager/AcademyManager/bin
/AcademyManager/AcademyManager/bin/Debug/
/AcademyManager/.vs/*
AcademyManager/AcademyManager/.dapr/logs/*
AcademyManager/AcademyManager/.DS_Store
AcademyManager/.DS_Store
.DS_Store
calendar/.dapr/logs/*
study_scheduler/.dapr/logs/*
academy_auth/.env
academy_auth/bun.lockb
